---
Language:     Cpp
BasedOnStyle: LLVM

AlignEscapedNewlinesLeft: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BraceWrapping:
   AfterClass:            true
   AfterFunction:         true
BreakBeforeBraces: Custom
ColumnLimit:     100
ConstructorInitializerIndentWidth: 2
NamespaceIndentation: All
PenaltyReturnTypeOnItsOwnLine: 1000
SortIncludes: false
TabWidth:        2
UseTab:          ForContinuationAndIndentation
...
