.uuid
.cache/
.vs/
.vscode/
/*.scad
**/out*.*
*.dmg
*~
*.tar*
*.new
*.bak
out.*
Makefile
Makefile.Debug
Makefile.Release
objects
object_script.openscad.Debug
object_script.openscad.Release
.gdbinit
.qmake.stash
.tags*
**/#*#
/.dir-locals.el
**/project.xcworkspace
**/xcuserdata
/*.stl
/*.dxf
/*.off
/*.amf
/*.png
/*.csg
/*.nef3
/*.blend
/*.obj
/*.rcad
/*.xml
/*.dat
/*.gcode
/*.py
/*.svg
/*.h
/*.dump
/*.pl
/b/
/c/
.gcov/
/lexer_lex.cpp
/parser_yacc.cpp
/openscad_adaptor.cpp
/openscad_interface.cpp
/OpenSCAD.app
/openscad.appdata.xml
/openscad.appdata.xml.in2
/openscad.pro.user
/openscad
/openscad-nightly
/resources/*.rc
/resources/*.qrc
/resources/icons/openscad.desktop
/locale/*/*/*.mo
/locale/*.mo
/locale/POTFILES
/tmp
/nbproject
/mingw32.*
/mingw64.*
src/*.org
src/*.old
src/*.debug
/Testing
.DS_Store
/build
/build_xcode
/release
tests/DartConfiguration.tcl
tests/__pycache__/
tests/venv
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
OpenSCAD_autogen
resources/CMakeFiles
resources/Makefile
resources/cmake_install.cmake
resources/docs/OpenSCADUserDocs
/local.pri
tests/data/python/gen_issue2342.py
tests/data/python/gen_svg_viewbox_tests.py
tests/data/scad/2D/features/import_dxf-tests.scad
tests/data/scad/3D/features/import_stl-tests.scad
tests/data/scad/3D/features/import_3mf-tests.scad
tests/data/scad/issues/issue2342.scad
tests/data/scad/misc/include-tests.scad
tests/data/scad/misc/use-tests.scad
tests/data/svg/viewbox/viewbox_*.svg
tests/regression/pdfexporttest/centered.pdf
tests/regression/pdfexporttest/simple-pdf.pdf
scripts/run-clang-tidy-cached
