[submodule "libraries/MCAD"]
	path = libraries/MCAD
	url = https://github.com/openscad/MCAD.git
[submodule "mimalloc"]
	path = submodules/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "submodules/manifold"]
	path = submodules/manifold
	url = https://github.com/elalish/manifold
[submodule "sanitizers-cmake"]
	path = submodules/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "OpenCSG"]
	path = submodules/OpenCSG
	url = https://github.com/openscad/OpenCSG.git
