/*.scad
**/out*.*
*.dmg
*~
*.tar*
*.new
out.*
Makefile
objects
.gdbinit
.qmake.stash
**/#*#
/.dir-locals.el
testdata/scad/2D/features/import_dxf-tests.scad
testdata/scad/3D/features/import_stl-tests.scad
testdata/scad/misc/include-tests.scad
testdata/scad/misc/use-tests.scad
**/project.xcworkspace
**/xcuserdata
/*.stl
/*.dxf
/*.off
/*.amf
/*.png
/*.csg
/*.nef3
/*.blend
/*.obj
/*.rcad
/*.xml
/*.dat
/*.gcode
/*.py
/*.svg
/*.h
/*.dump
/*.pl
/OpenSCAD.app
/openscad.appdata.xml
/openscad.pro.user
/openscad
/locale/*/*/*.mo
/locale/*.mo
/locale/POTFILES
/tmp
/nbproject
/mingw32
/mingw64
src/*.org
src/*.old
src/*.debug
/Testing
