/*.scad
*.dmg
*~
*.tar*
Makefile
objects
.gdbinit
/*.stl
/*.dxf
/lexer_lex.cpp
/parser_yacc.cpp
parser_yacc.h
/tmp
/OpenSCAD.app
*/#*#
/po/*/*/*.mo
/nbproject
/openscad
/tests/openscad_nogui
testdata/scad/features/import_dxf-tests.scad
testdata/scad/features/import_stl-tests.scad
testdata/scad/misc/include-tests.scad
testdata/scad/misc/use-tests.scad
/mingw32
/mingw64
**/project.xcworkspace
**/xcuserdata
