/*.dSYM
/*.a
/*-output
/*.scad
out.txt
out.png
/CMakeFiles
/CMakeCache.txt
/CTestTestfile.cmake
/Testing
/cmake_install.cmake
/lexer.cpp
/parser_yacc.c
/cgaltest
/csgtermtest
/csgtexttest
/opencsgtest
/throwntogethertest
/cgalstlsanitytest
/cgalcachetest
/modulecachetest
/moduledumptest
/test_pretty_print
/sysinfo.txt
/CTestCustom.cmake
