/*.dSYM
/*.a
/*-output
/*.scad
out.*
/CMakeFiles
/CMakeCache.txt
/CTestTestfile.cmake
/Testing
/cmake_install.cmake
/lexer.cpp
/parser_yacc.c
/csgtexttest
/throwntogethertest
/cgalcachetest
/modulecachetest
/test_pretty_print
/sysinfo.txt
/CTestCustom.cmake
