[Desktop Entry]
Type=Application
Version=1.0
Name=OpenSCAD
Comment=The Programmers Solid 3D CAD Modeller
Icon=openscad
Exec=openscad %f
MimeType=application/x-openscad;
Categories=Graphics;3DGraphics;Engineering;
Keywords=3d;solid;geometry;csg;model;stl;
