version: 2
jobs:
  openscad-mxe-32bit:
    working_directory: ~/workspace
    docker:
      - image: openscad/mxe-i686-gui:latest
    resource_class: large
    steps:
      - checkout
      - run:
          name: Build OpenSCAD Windows Application (32bit)
          no_output_timeout: 18000
          command: |
              export NUMCPU=4
              export LC_ALL=C.UTF-8
              export MXEDIR=/mxe
              export PKG_CONFIG_PATH=/mxe/usr/i686-w64-mingw32.static.posix/lib/pkgconfig
              ln -sf $PKG_CONFIG_PATH/{intel-,}tbb.pc
              ln -sf /usr/bin/python{3,}
              if [ x"${CIRCLE_BRANCH}" = xmaster ]; then export SUFFIX=""; else export SUFFIX="_$(echo ${CIRCLE_BRANCH} | sed -e 's,pull/,PR,')"; fi
              export OPENSCAD_VERSION="$(date +%Y.%m.%d).ci${CIRCLE_BUILD_NUM}"
              ./scripts/release-common.sh snapshot mingw32 -v "$OPENSCAD_VERSION"
              mkdir -p /tmp/out
              for f in mingw*/*.zip mingw*/*.exe; do N=$(basename "$f" | sed -e "s/\\(-x86-[36][24]\\)/\\1${SUFFIX}/;"); cp -iv "$f" /tmp/out/"$N"; done
              if [ -n "${CODE_SIGNING_KEY}" ]; then
                  cd /tmp/out
                  echo $CODE_SIGNING_DATA | base64 -d | gzip -d | gpg --import --allow-secret-key-import --pinentry-mode loopback --passphrase-file <(echo $CODE_SIGNING_PW)
                  export GPG_ARGS="--batch --yes --passphrase-fd 0 --pinentry-mode loopback --detach-sign --armor"
                  for a in *.exe *.zip; do echo "$CODE_SIGNING_PW" | gpg -u "$CODE_SIGNING_KEY" $GPG_ARGS "$a"; sha256sum "$a" | tee "${a}.sha256"; sha512sum "$a" | tee "${a}.sha512"; done
                  rm -rf ~/.gnupg
              else
                  echo "Skipping code signing."
              fi
      - store_artifacts:
          path: /tmp/out
          destination: 32-bit
  openscad-mxe-64bit:
    working_directory: ~/workspace
    docker:
      - image: openscad/mxe-x86_64-gui:latest
    resource_class: large
    steps:
      - checkout
      - run:
          name: Build OpenSCAD Windows Application (64bit)
          no_output_timeout: 18000
          command: |
              export NUMCPU=4
              export LC_ALL=C.UTF-8
              export MXEDIR=/mxe
              export PKG_CONFIG_PATH=/mxe/usr/x86_64-w64-mingw32.static.posix/lib/pkgconfig
              ln -sf $PKG_CONFIG_PATH/{intel-,}tbb.pc
              ln -sf /usr/bin/python{3,}
              if [ x"${CIRCLE_BRANCH}" = xmaster ]; then export SUFFIX=""; else export SUFFIX="_$(echo ${CIRCLE_BRANCH} | sed -e 's,pull/,PR,')"; fi
              export OPENSCAD_VERSION="$(date +%Y.%m.%d).ci${CIRCLE_BUILD_NUM}"
              
              ./scripts/release-common.sh snapshot mingw64 -v "$OPENSCAD_VERSION"
              mkdir -p /tmp/out
              for f in mingw*/*.zip mingw*/*.exe; do N=$(basename "$f" | sed -e "s/\\(-x86-[36][24]\\)/\\1${SUFFIX}/;"); cp -iv "$f" /tmp/out/"$N"; done
              if [ -n "${CODE_SIGNING_KEY}" ]; then
                  cd /tmp/out
                  echo $CODE_SIGNING_DATA | base64 -d | gzip -d | gpg --import --allow-secret-key-import --pinentry-mode loopback --passphrase-file <(echo $CODE_SIGNING_PW)
                  export GPG_ARGS="--batch --yes --passphrase-fd 0 --pinentry-mode loopback --detach-sign --armor"
                  for a in *.exe *.zip; do echo "$CODE_SIGNING_PW" | gpg -u "$CODE_SIGNING_KEY" $GPG_ARGS "$a"; sha256sum "$a" | tee "${a}.sha256"; sha512sum "$a" | tee "${a}.sha512"; done
                  rm -rf ~/.gnupg
              else
                  echo "Skipping code signing."
              fi
      - store_artifacts:
          path: /tmp/out
          destination: 64-bit
  openscad-appimage-64bit:
    working_directory: ~/workspace
    docker:
      - image: openscad/appimage-x86_64-base:latest
    resource_class: large
    steps:
      - checkout
      - run:
          name: Build OpenSCAD AppImage (64bit)
          no_output_timeout: 18000
          command: |
              set +e
              . /opt/qt5*/bin/qt5*-env.sh
              set -e
              export OPENSCAD_COMMIT=$(git log -1 --pretty=format:%h)
              export OPENSCAD_VERSION="$(date +%Y.%m.%d).ai${CIRCLE_BUILD_NUM}"
              if [ x"${CIRCLE_BRANCH}" = xmaster ]; then export SUFFIX=""; else export SUFFIX="_$(echo ${CIRCLE_BRANCH} | sed -e 's,pull/,PR,')"; fi
              git submodule update --init --recursive
              ( cd submodules/manifold && git apply thrust.diff )
              mkdir build && cd build
              cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release -DEXPERIMENTAL=ON -DSNAPSHOT=ON -DOPENSCAD_VERSION="$OPENSCAD_VERSION" -DOPENSCAD_COMMIT="$OPENSCAD_COMMIT"
              make -j4
              make install DESTDIR=../AppDir
              cd ..
              export PATH=/appimage/usr/bin:"$PATH"
              export EXTRA_QT_PLUGINS=svg
              VERSION="${OPENSCAD_VERSION}${SUFFIX}" linuxdeploy --plugin qt --output appimage --appdir AppDir
              mkdir -p /tmp/out
              cp -iv OpenSCAD-*.AppImage /tmp/out
              if [ -n "${CODE_SIGNING_KEY}" ]; then
                  cd /tmp/out
                  echo $CODE_SIGNING_DATA | base64 -d | gzip -d | gpg --import --allow-secret-key-import --pinentry-mode loopback --passphrase-file <(echo $CODE_SIGNING_PW)
                  export GPG_ARGS="--batch --yes --passphrase-fd 0 --pinentry-mode loopback --detach-sign --armor"
                  for a in *.AppImage; do echo "$CODE_SIGNING_PW" | gpg -u "$CODE_SIGNING_KEY" $GPG_ARGS "$a"; sha256sum "$a" | tee "${a}.sha256"; sha512sum "$a" | tee "${a}.sha512"; done
                  rm -rf ~/.gnupg
              else
                  echo "Skipping code signing."
              fi
      - store_artifacts:
          path: /tmp/out
          destination: 64-bit
  openscad-wasm:
    working_directory: ~/workspace
    docker:
      - image: openscad/wasm-base:latest
    resource_class: large
    steps:
      - checkout
      - run:
          name: Build OpenSCAD WASM
          no_output_timeout: 18000
          command: |
              export OPENSCAD_COMMIT=$(git log -1 --pretty=format:%h)
              export OPENSCAD_VERSION="$(date +%Y.%m.%d).wasm${CIRCLE_BUILD_NUM}"
              if [ x"${CIRCLE_BRANCH}" = xmaster ]; then export SUFFIX=""; else export SUFFIX="_$(echo ${CIRCLE_BRANCH} | sed -e 's,pull/,PR,')"; fi
              export PKG_CONFIG_PATH="/emsdk/upstream/emscripten/cache/sysroot/lib/pkgconfig"
              git submodule update --init --recursive
              ( cd submodules/manifold && git apply thrust.diff )
              emcmake cmake -B ../build . \
                  -DWASM=ON \
                  -DSNAPSHOT=ON \
                  -DEXPERIMENTAL=ON \
                  -DENABLE_TBB=OFF \
                  -DENABLE_CAIRO=OFF \
                  -DUSE_MIMALLOC=OFF \
                  -DBoost_USE_STATIC_RUNTIME=ON \
                  -DBoost_USE_STATIC_LIBS=ON \
                  -DCMAKE_BUILD_TYPE=Release \
                  -DOPENSCAD_COMMIT="$OPENSCAD_COMMIT" \
                  -DOPENSCAD_VERSION="$OPENSCAD_VERSION" \
                  -DHARFBUZZ_INCLUDE_DIRS=/emsdk/upstream/emscripten/cache/sysroot/include/harfbuzz \
                  -DFONTCONFIG_INCLUDE_DIR=/emsdk/upstream/emscripten/cache/sysroot/include/fontconfig \
                  -DFONTCONFIG_LIBRARIES=libfontconfig.a
              sed -e "s|-isystem /emsdk/upstream/emscripten/cache/sysroot/include[^/]||g" -i ../build/CMakeFiles/OpenSCAD.dir/includes_C.rsp
              sed -e "s|-isystem /emsdk/upstream/emscripten/cache/sysroot/include[^/]||g" -i ../build/CMakeFiles/OpenSCAD.dir/includes_CXX.rsp
              sed -e "s|-lfontconfig|/emsdk/upstream/emscripten/cache/sysroot/lib/libglib-2.0.a /emsdk/upstream/emscripten/cache/sysroot/lib/libzip.a /emsdk/upstream/emscripten/cache/sysroot/lib/libz.a /emsdk/upstream/emscripten/cache/sysroot/lib/libfontconfig.a|g" -i ../build/CMakeFiles/OpenSCAD.dir/linklibs.rsp
              sed -e "s|em++|em++ ${EMXX_FLAGS} -s USE_PTHREADS=0 -s NO_DISABLE_EXCEPTION_CATCHING -s FORCE_FILESYSTEM=1 -s ALLOW_MEMORY_GROWTH=1 -s EXPORTED_RUNTIME_METHODS=['FS','callMain'] -s EXPORT_ES6=1 -s ENVIRONMENT=web,worker -s MODULARIZE=1 -s EXPORT_NAME=OpenSCAD -s EXIT_RUNTIME=1|g" -i ../build/CMakeFiles/OpenSCAD.dir/link.txt
              cd ../build
              make -j4 VERBOSE=1
              mkdir -p /tmp/out
              zip -9r "/tmp/out/OpenSCAD-${OPENSCAD_VERSION}${SUFFIX}-WebAssembly.zip" openscad.*
              if [ -n "${CODE_SIGNING_KEY}" ]; then
                  cd /tmp/out
                  echo $CODE_SIGNING_DATA | base64 -d | gzip -d | gpg --import --allow-secret-key-import --pinentry-mode loopback --passphrase-file <(echo $CODE_SIGNING_PW)
                  export GPG_ARGS="--batch --yes --passphrase-fd 0 --pinentry-mode loopback --detach-sign --armor"
                  for a in *.zip; do echo "$CODE_SIGNING_PW" | gpg -u "$CODE_SIGNING_KEY" $GPG_ARGS "$a"; sha256sum "$a" | tee "${a}.sha256"; sha512sum "$a" | tee "${a}.sha512"; done
                  rm -rf ~/.gnupg
              else
                  echo "Skipping code signing."
              fi
      - store_artifacts:
          path: /tmp/out
          destination: wasm
  openscad-macos:
    macos:
      xcode: 13.2.1
    environment:
      OPENSCAD_LIBRARIES: /Users/distiller/libraries/install
      PKG_CONFIG_PATH: /Users/distiller/libraries/install/lib/pkgconfig
      DYLD_LIBRARY_PATH: /Users/distiller/libraries/install/lib
      DYLD_FRAMEWORK_PATH: /Users/distiller/libraries/install/lib
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: ( cd submodules/manifold && git apply thrust.diff )
      - run:
          name: System Info
          command: |
            system_profiler SPHardwareDataType SPSoftwareDataType SPStorageDataType SPDeveloperToolsDataType
      - run:
          name: Install Homebrew packages
          command: |
            brew update
            brew install automake libtool cmake pkg-config wget meson
      - restore_cache:
          keys:
            # CircleCI library caching. If we ever need invalidate the cache (e.g. to remove any old files 
            # from a library cache), the safest, change the MACOS_CACHE_VERSION variable to a random value at
            # https://app.circleci.com/settings/project/github/openscad/openscad/environment-variables.
            - macos-libraries-{{ .Environment.MACOS_CACHE_VERSION }}-{{ checksum "scripts/macosx-build-dependencies.sh" }}-{{ checksum ".circleci/config.yml" }}
            # Fetch the most recently saved cache
            - macos-libraries-{{ .Environment.MACOS_CACHE_VERSION }}-
      - run:
          name: Build Dependencies
          command: |
            # Pick up our own Qt
            export PATH=$OPENSCAD_LIBRARIES/bin:$PATH
            # Build universal binaries and limit to 30 minutes
            ./scripts/macosx-build-dependencies.sh -l 30 -x -a -d double_conversion eigen gmp mpfr glew gettext libffi freetype ragel harfbuzz libzip libxml2 libuuid fontconfig hidapi lib3mf pixman cairo glib2 boost cgal qt5 opencsg qscintilla sparkle onetbb
      - run:
          name: Package Dependencies as an artifact
          command: |
            mkdir -p /tmp/out
            tar cz -C "$OPENSCAD_LIBRARIES" -f /tmp/out/libraries.tar.bz2 .
            shasum -a 512 /tmp/out/libraries.tar.bz2 > /tmp/out/libraries.tar.bz2.sha512
      - save_cache:
          # Make sure to create a new cache entry, needed for incremental library builds and also
          # preventing full cache drop after 15 days.
          key: macos-libraries-{{ .Environment.MACOS_CACHE_VERSION }}-{{ checksum "scripts/macosx-build-dependencies.sh" }}-{{ checksum ".circleci/config.yml" }}-{{ .BuildNum }}
          paths:
            - /Users/distiller/libraries/install
      - run:
          name: Build OpenSCAD
          command: |
            export NUMCPU=$(($(sysctl -n hw.ncpu) * 3 / 2))
            time ./scripts/release-common.sh snapshot
            cd build
            OPENSCAD_NAME=$(ls OpenSCAD-*.dmg)
            shasum -a 256 "$OPENSCAD_NAME" > "$OPENSCAD_NAME".sha256
            shasum -a 512 "$OPENSCAD_NAME" > "$OPENSCAD_NAME".sha512
            cp -v "$OPENSCAD_NAME"* /tmp/out/
      - run:
          name: Verify OpenSCAD binary
          command: |
            ./scripts/macosx-sanity-check.py build/OpenSCAD.app/Contents/MacOS/OpenSCAD
      - store_artifacts:
          path: /tmp/out
workflows:
  version: 2
  master-build:
    jobs:
      - openscad-mxe-32bit:
          context: secret-context
          filters:
              branches:
                  only:
                      - master
      - openscad-mxe-64bit:
          context: secret-context
          filters:
              branches:
                  only:
                      - master
      - openscad-appimage-64bit:
          context: secret-context
          filters:
              branches:
                  only:
                      - master
      - openscad-wasm:
          context: secret-context
          filters:
              branches:
                  only:
                      - master
  branch-build:
    jobs:
      - openscad-mxe-32bit:
          filters:
              branches:
                  ignore:
                      - master
                      - coverity_scan
                      - /^(?i:continuous)$/
      - openscad-mxe-64bit:
          filters:
              branches:
                  ignore:
                      - master
                      - coverity_scan
                      - /^(?i:continuous)$/
      - openscad-appimage-64bit:
          filters:
              branches:
                  ignore:
                      - master
                      - coverity_scan
                      - /^(?i:continuous)$/
      - openscad-wasm:
          filters:
              branches:
                  ignore:
                      - master
                      - coverity_scan
                      - /^(?i:continuous)$/
      - openscad-macos:
          filters:
              branches:
                  only:
                      - /.*-macos/
  scheduled:
    triggers:
      - schedule:
          cron: "30 6 * * 0,1,5"
          filters:
              branches:
                  only:
                      - master
    jobs:
      - openscad-macos
