name: Linux Release Build

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        headless: [ ON, OFF ]
        enable_tests: [ ON, OFF ]
        enable_manifold: [ ON ]

    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }}:HEADLESS=${{ matrix.headless }},ENABLE_TESTS=${{ matrix.enable_tests }},ENABLE_MANIFOLD=${{ matrix.enable_manifold }}

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Fetch tags for version detection
      run: |
        git fetch --unshallow --tags || git fetch --tags
        git describe --tags --always --dirty
    - name: Install dependencies
      env:
        DEBIAN_FRONTEND: noninteractive
        TZ: Etc/UTC
      run: |
        which sudo || ( apt update && apt install -y sudo )
        sudo -E ./scripts/uni-get-dependencies.py --yes --profile pythonscad-qt5
    - name: Run CMake
      run: >
        cmake -S . -B build -GNinja \
          -DCMAKE_BUILD_TYPE=RelWithDebInfo \
          -DHEADLESS=${{ matrix.headless }} \
          -DENABLE_MANIFOLD=${{ matrix.enable_manifold }} \
          -DENABLE_TESTS=${{ matrix.enable_tests }}
    - name: Build OpenSCAD
      run: cmake --build build
